@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive{
  font-family: 'Cedarville Cursive', cursive;
}

.glass {
  /* background: rgba(255, 255, 255, 0.078); */
  background: rgba(101, 101, 101, 0.174);

  backdrop-filter: blur(2px);
  z-index: 0;
}