@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.head{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.cursive{
  font-family: 'Cedarville Cursive', cursive;
}

.glass {
  /* background: rgba(255, 255, 255, 0.078); */
  background: rgba(101, 101, 101, 0.174);

  backdrop-filter: blur(2px);
  z-index: 0;
}