

/*  */
.containerContact{
max-height: 100vh;
overflow: hidden;
}
.formPage{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
}

.orange {
    color: black;
  }
  
  .form-container {
    border: 1px solid black;
    max-width: 700px;
    margin: 30px;
    /* background-color: #E8E8E8; */
    padding: 30px;
    border-left: 5px solid black;
    border-bottom: 4px solid black;
    border-radius: 20px;
  }
  
  .heading {
    display: block;
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .form-container .form .input {
   
    color: #87a4b6;
    width: 100%;
    /* background-color: black; */
    border: 1px solid black;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }
  
  .form-container .form .input:focus {
    border-left: 5px solid black;
  }
  
  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    /* background-color: black; */
    color: black;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .textarea:focus {
    border-left: 5px solid black;
  }
  
  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }
  
  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    position: relative;
    text-align: center;
    padding: 10px;
    color: black;
    font-weight: bold;
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
    border-bottom: 4px solid black;
  }
  
  .form-container .form .button-container .send-button:hover {
    background: white;
    color: black;
    transform: translateY(-0.33em);
  }
  
  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px black);
    flex-basis: 30%; 
  }

  
  
  .form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: black;
    font-weight: bold;
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
    border-bottom: 4px solid black;
  }

  
  .form-container .form .button-container .reset-button-container .reset-button:hover {
    transform: translateY(-0.33em);
   }

  

  .form-container .form .button-container .reset-button:active  {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }